
.msform {
    width: 100%;
    margin: 50px auto;
    text-align: left;
    position: relative;
}
.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px 160px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 10%; */

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
    display: none; 
}
/*inputs*/
.msform input, .msform textarea {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
}
/*buttons*/
.msform .action-button {
    width: 100%;
    background: #523EE8;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #523EE8;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li._active_pro:before,  #progressbar li._active_pro:after{
    background: #904AE8;
    color: white;
}
/*profile page designer*/
.persona{
    width: 100%; height:320px;border: 1px solid #523EE8; border-radius: 5px;
}
/*btn upload*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    left: -50px;
    top: 70px;
}

._btn-upload {
    border: 2px solid rgba(144, 74, 232,.15);
    color: gray;
    background-color: white;
    /*padding: 8px 20px;*/
    border-radius: 8px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
    left: 0;
    top: 0;
    opacity: 0;
}

._btn-persona {
    border: 2px solid rgba(144, 74, 232,.15);
    color: #523EE8;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
._upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

._upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*forminput fontawesome*/
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    /* padding: 0px 10px; */
    font-weight: 20px;
    min-width: 40px;
    left: 40px;
    color: #523EE8;
}
/*placholder color*/
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Prompt', sans-serif;
    color: #C4C4C4 !important;
}
input,textarea::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Prompt', sans-serif;
    color: #C4C4C4 !important;
}
input,textarea:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Prompt', sans-serif;
    color: #C4C4C4 !important;
}
input,textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'Prompt', sans-serif;
    color: #C4C4C4 !important;
}
::-webkit-input-placeholder { /* Edge */
    color: #C4C4C4 !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: #C4C4C4 !important;
  }
  
  ::placeholder {
    color: #C4C4C4 !important;
  }