/* @import url('https://fonts.googleapis.com/css?family=Prompt:400,800i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Prompt:400,700,800i&display=swap');
._box-1{
  /*background-image: url("../photo/section-1.png");*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position:center bottom;
  z-index: 2;
  /*height: 820px !important;*/
  background-color: #fff;
  /* height: 100vh; */
}
.totorial{
  background-color: #000;
  height: auto;
}
.content-dark{
  color: #fff;
}
.mt_ex{
  margin-top: 10rem;
}
._dash{
  width: 185px;
  border: 2px dashed #FFFFFF;
}
img{
  max-width: 100%;
  height: auto;
}

.text-header{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 800;
  font-style: italic;
}
h1, h3{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 800;
  font-style: italic;
}
h2, h4, h5, p, a,small,button,div,span{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  
}
.shape{
  background-image: url("../photo/@product.png");
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  /*background-attachment: fixed;*/
  background-position:right;
  z-index:1;
  height: 100vh;
  
}
/*.card:hover {*/
  /*box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,0.225);*/
  /*transform: scale(0.96);*/

/*}*/
.card{
  transition: 0.3s;
  width: 100%;
  border: 0px solid rgba(255, 255, 255,0.225) !important;
}
.card-text{
  color: #444;
}
._footer{
  position: static;
  width: 100%;
  background-color:  #904AE8;
  color: white;
  text-align: center;
  height: auto;
  z-index: 1;

}
._illust{
  position:absolute;
  z-index: -1;

}
.bgc{
  background-color: rgba(144, 74, 232, 0.1);
  /*background-color: #fff;*/
  width: 100%;
  height: auto;
}
.shadow-ex{
  box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
}
.star1 {
  color: #FCD430;
}
.stargrey {
  color: #cccccc;
}
.overflow-ratepro{
  overflow-x: scroll;
  width: 100%;
  height: 370px;
}
._card:hover{
  transition: 0.4s;
  transform: translateY(-20px);
}
._box-2{
  background-color: #F9F9F9;
}
.pallete{
  height: 30px;
  background-color: #523EE8;
  width: 100%;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.angle-double-down::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f103";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-friend::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f508";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-designer::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53f";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.profile::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bd";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-1::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.notification::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0f3";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.chat::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f4ad";
  font-size: 29px;
  color: #C4C4C4;
}
.list-ul::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f0ca";
  font-size: 29px;
  color: #C4C4C4; 
}
.file-import::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f56f";
  font-size: 29px;
  color: #C4C4C4; 
}
.love-sym::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f004";
  font-size: 29px;
  color: #C4C4C4; 
}
.dollar-sign::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f155";
  font-size: 29px;
  color: #C4C4C4;
}

.cog::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f013";
  font-size: 29px;
  color: #C4C4C4; 
}
.sign-out::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f2f5";
  font-size: 29px;
  color: #C4C4C4; 
}
.calendar::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f133";
  font-size: 29px;
  color: #C4C4C4; 
}
.bg-purple{
  background-color: #523EE8 !important;
  color: white !important;
}