/* @import url('https://fonts.googleapis.com/css?family=Prompt:400,800i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Prompt:400,700,800i&display=swap');
._box-1{
  /*background-image: url("../photo/section-1.png");*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position:center bottom;
  z-index: 2;
  /*height: 820px !important;*/
  background-color: #fff;
  /* height: 100vh; */
}
.totorial{
  background-color: #000;
  height: auto;
}
.content-dark{
  color: #fff;
}
.mt_ex{
  margin-top: 10rem;
}
._dash{
  width: 185px;
  border: 2px dashed #FFFFFF;
}
img{
  max-width: 100%;
  height: auto;
  object-fit:cover;

}

.text-header{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 800;
  font-style: italic;
}
h1, h3{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 800;
  font-style: italic;
}
h2, h4, h5, p, a,small,button,div,span{
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  
}
.shape{
  background-image: url("../photo/@product.png");
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  /*background-attachment: fixed;*/
  background-position:right;
  z-index:1;
  height: 100vh;
  
}
/*.card:hover {*/
  /*box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,0.225);*/
  /*transform: scale(0.96);*/

/*}*/
.card{
  transition: 0.3s;
  width: 100%;
  border: 0px solid rgba(255, 255, 255,0.225) !important;
}
.card-text{
  color: #444;
}
._footer{
  position: static;
  width: 100%;
  background-color:  #904AE8;
  color: white;
  text-align: center;
  height: auto;
  z-index: 1;

}
._illust{
  position:absolute;
  z-index: -1;

}
.bgc{
  background-color: rgba(144, 74, 232, 0.1);
  /*background-color: #fff;*/
  width: 100%;
  height: auto;
}
.shadow-ex{
  box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
}
.star1 {
  color: #FCD430;
}
.stargrey {
  color: #cccccc;
}
.overflow-ratepro{
  overflow-x: scroll;
  width: 100%;
  height: 370px;
}
._card:hover{
  transition: 0.4s;
  transform: translateY(-20px);
}
._box-2{
  background-color: #F9F9F9;
}
.pallete{
  height: 30px;
  background-color: #523EE8;
  width: 100%;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.angle-double-down::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f103";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-friend::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f508";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-designer::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53f";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.profile::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bd";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.user-1::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.notification::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0f3";
  font-size: 29x;
  color: #523EE8;
  /* position: absolute; */
}
.chat::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f4ad";
  font-size: 29px;
  color: #C4C4C4;
}
.list-ul::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f0ca";
  font-size: 29px;
  color: #C4C4C4; 
}
.file-import::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f56f";
  font-size: 29px;
  color: #C4C4C4; 
}
.love-sym::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f004";
  font-size: 29px;
  color: #C4C4C4; 
}
.dollar-sign::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f155";
  font-size: 29px;
  color: #C4C4C4;
}

.cog::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f013";
  font-size: 29px;
  color: #C4C4C4; 
}
.sign-out::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f2f5";
  font-size: 29px;
  color: #C4C4C4; 
}
.calendar::before{
  
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f133";
  font-size: 29px;
  color: #C4C4C4; 
}
.bg-purple{
  background-color: #523EE8 !important;
  color: white !important;
}

.area-bg{
  /* background: #c4c4c4;  
background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
/* width: 100%;
height:1000px; */


}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(207, 207, 207, 0.2); */
  animation: animate 10s linear infinite;/*25*/
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 8s; /*12*/
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;/*4*/
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 14s;/*18*/
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 1s;/*3*/
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;/*7*/
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 7s;/*15*/
  animation-duration: 25s;/*45*/
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 15s;/*15*/
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 7s;/*11*/
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
.box-1term {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.box-1term input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkterm {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box-1term:hover input ~ .checkmarkterm {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box-1term input:checked ~ .checkmarkterm {
  background-color: #523EE8;
}

/* Create the checkmarkterm/indicator (hidden when not checked) */
.checkmarkterm:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarkterm when checked */
.box-1term input:checked ~ .checkmarkterm:after {
  display: block;
}

/* Style the checkmarkterm/indicator */
.box-1term .checkmarkterm:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}