._black-bg{
    width: 100%;
    height: 300px;
    background-color: black !important;
    border-radius: 5px;
    box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.255);
    /* /./. */
}
.content-bg{
    color: #fff;
}
._primary-bg-dark{
    background: #fff !important;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    color: #000 !important;
  }
  ._primary-btn{
    background: #523EE8 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff !important;
  }

  /* /modalcustom */
  .modalAcceptWork-open {
    overflow: hidden;
  }
  
  .modalAcceptWork-open .modalAcceptWork {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modalAcceptWork {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  
  .modalAcceptWork-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  .modalAcceptWork.fade .modalAcceptWork-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .modalAcceptWork.fade .modalAcceptWork-dialog {
      transition: none;
    }
  }
  
  .modalAcceptWork.show .modalAcceptWork-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .modalAcceptWork-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
  }
  
  .modalAcceptWork-dialog-centered::before {
    display: block;
    height: calc(100vh - (0.5rem * 2));
    content: "";
  }
  
  .modalAcceptWork-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modalAcceptWork-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  
  .modalAcceptWork-backdrop.fade {
    opacity: 0;
  }
  
  .modalAcceptWork-backdrop.show {
    opacity: 0.5;
  }
  
  .modalAcceptWork-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .modalAcceptWork-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modalAcceptWork-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modalAcceptWork-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modalAcceptWork-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
  }
  
  .modalAcceptWork-footer > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .modalAcceptWork-footer > :not(:last-child) {
    margin-right: .25rem;
  }
  
  .modalAcceptWork-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  /* ------------------ jobdetail modal ------------------- */
  