._primary-btn{
    background: #523EE8 !important;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: #fff !important;
  }
  ._secondary-btn{
    background: white;
    border: 1px solid black !important;
    color: black !important;
    box-sizing: border-box;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  }
  ._primary-black{
    background: black !important;
    box-sizing: border-box;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: #fff !important;
  }
  ._hilight {
    color: #523EE8 !important;
  }
  ._gray{
color: #C4C4C4;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link p{
    /* color: #fff !important; */
    background-color: #fff !important;
    border: 3px solid #523EE8 !important;
}
a{
    color: #000 !important;
}
p{
      margin-bottom: 0rem !important;

}
#app{
  /* background-color: #E5E5E5; */
  background-color: rgba(229, 229, 229,.275);
}
.layout-top-bot{
  /* margin-top: 100px;
  margin-bottom: 100px; */
}
