ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.user-wrapper, .message-wrapper {
    border-top: 1px solid #dddddd;
    overflow-y: auto;
}
.header{
    height: 100px;
    background-color: #ffffff;
    
}
.user-wrapper{
    height: 500px;
    background-color: #ffffff;

}
.user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
}
.user:hover {
    background-color: #eeeeee;
}
.user:last-child {
    margin-bottom: 0;
}
.pending {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #523ee8;
    margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-left: 3px;
    color: #ffffff;
    font-size: 12px;
}
.media-left {
    padding: 20px;

}
.media-left img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 64px;
}
.media-body p{
    padding: 20px 0 0 0 ;
    font-weight: bold;
    

} 
 .message-wrapper {
     padding: 10px;
     height: 436px;
     background: #ffffff;
 }
 .messages .message{
     margin-bottom: 15px;
 }
 .messages .message:last-child {
     margin-bottom: 0;
 }
 .received {
     background-color: #eeeeee;
 }
 .received .date{
    color: #c4c4c4;
    font-size: 12px;
 }
 .sent{
     background-color: #523ee8;
     color: white;
     float: right;
     text-align: right;
 }
 .sent .date{
    color: #c4c4c4;
    font-size: 12px;
 }
 .message p {
     margin: 5px 0;
 }
 .date {
   
 }
 .active {
     background: #eeeeee;
 }
 input[type=text]{
     width: 100%;
     padding:12px 20px;
     padding-right: 50px;
     margin: 15px 0 0 0;
     display: inline-block;
     border-radius: 4px;
     box-sizing: border-box;
     outline: none;
     border: 1px solid #cccccc;
     background-color: #000000;
     color: #ffffff;
 }
 input[type=text]:focus{
    border: 1px solid #ffffff;
    background-color: #121212;

 }
.start-conversation {
    text-align: center;
}