@import url('https://fonts.googleapis.com/css?family=Chonburi|Prompt&display=swap');
h1, h3{
    font-family: 'Chonburi', cursive !important;
}
h2, h4, h5, p, a,label,input,textarea{
    font-family: 'Prompt', sans-serif;
}
.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
  background-color: #E7F3F8 !important;
  cursor:pointer;
}

.dropzone i{
  font-size: 5rem;

}

.dropzone .dz-message {
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
  
}
/* label::before {
  background-image: url(../path/to/unchecked.png);
}
:checked + label::before {
  background-image: url(../path/to/checked.png);
} */

