
.form-match{
background: #FFFFFF;
border: 3px solid #904AE8;
box-shadow: 0px 4px 12px rgba(83, 59, 142, 0.25);
border-radius: 20px;
}
/* Rectangle 3.4 */
.rec{
height: 200px;
left: 478px;
top: 546px;
background: #904AE8;
border-radius: 20px 20px 0px 0px;
}
/* กรอกข้อมูลให้ครบถ้วนเพื่อที่เราจะได้หานักออกแบบที่ใช่ที่สุดสำหรับคุณ */
.fill{
width:100%;
height: 114px;
margin-left: 10%;
}
/* Plaifah Pentatham */
.titlename{
color: #FFFFFF;
}
/* Entrepreneur */
.Entrepreneur{
/*   position: absolute; */
color: #CCCCCC;
}
/* สไตล์งานที่ต้องการ */
/* เลือกประเภทผลิตภัณฑ์ที่ต้องการจะออกแบบ */
.selectfillter{
/*font-style: normal;*/
font-weight: bold;
font-size: 24px;
}
/* บรรจุภัณฑ์ประเภทกล่อง */
.detaill-select{
width: 100%;
height: 31px;
left: 589.24px;
top: 950px;

font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 24px;
  outline: none;

color: #000000;
/*       border-color: #f44336!important; */
    border-bottom: 5px solid #FF3975;
}
/* Vector */
.vector-line{
/*   position: absolute; */
width: 546px;
height: 0px;
right: 783px;
top: 988px;

border: 1px solid #FF3975 !important;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }



._area {
    max-width: 640px;
  font-family: 'Prompt', sans-serif;

    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    /*padding: 20px;*/
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: .25rem!important;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
      font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
text-align: center;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid mediumpurple;
    background-color: #523EE8;
    font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
text-align: center;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
    width: 80px;
    margin: 0px auto;
    height: 60px;
    right: 10px;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #523EE8;
}

/*datepicker*/

/*profile avatar*/
.rounded-ex{
    border-radius: 2.3rem!important;
    
}
._primary-drop{
    color: #000000;
    outline : none;
}
._primary-drop:hover{
    background: #FE3A76;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff !important;
}

/*prev and next btn corosel*/
.carousel-control-next, .carousel-control-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5% !important;
    color: #fff;
    text-align: center;
    opacity: .5;
    background-color: mediumpurple;
    border-radius: 20px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 50px !important;
    margin-bottom: 0;
    padding-right: 50px !important;
    list-style: none;
}
._btn {
    transition: 0.3s;
    border: 2px solid #904AE8;
}

/* Style the active class, and buttons on mouse-over */
._active, ._btn:hover {
    border: 10px solid #904AE8;
    transform: scale(0.9);
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.carousel-indicators .active {
    background-color: #FE3A76 !important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
/*match*/

/*.msform {*/
    /*width: 100%;*/
    /*margin: 50px auto;*/
    /*text-align: left;*/
    /*position: relative;*/
/*}*/
/*.msform fieldset {*/
    /*background: white;*/
    /*border: 0 none;*/
    /*border-radius: 3px;*/
    /*box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);*/
    /*padding: 20px 30px;*/
    /*box-sizing: border-box;*/
    /*width: 80%;*/
    /*margin: 0 10%;*/

    /*!*stacking fieldsets above each other*!*/
    /*position: relative;*/
/*}*/
/*!*Hide all except first fieldset*!*/
/*.msform fieldset:not(:first-of-type) {*/
    /*display: none;*/
/*}*/
/*!*inputs*!*/
/*.msform input, .msform textarea {*/
    /*padding: 15px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*color: #2C3E50;*/
    /*font-size: 13px;*/
/*}*/
/*!*buttons*!*/
/*.msform .action-button {*/
    /*width: 100%;*/
    /*background: #904AE8;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*border: 0 none;*/
    /*border-radius: 1px;*/
    /*cursor: pointer;*/
    /*padding: 10px 5px;*/
    /*margin: 10px 5px;*/
/*}*/
/*.msform .action-button:hover, .msform .action-button:focus {*/
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #904AE8;*/
/*}*/
._area {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
._area input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: rgba(255,255,255,.15);
    transition: 0.4s;
}

/* On mouse-over, add a grey background color */
._area:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
._area input:checked ~ .checkmark {
    background-color: mediumpurple;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
._area input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
._area .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.4s;

}
.input-picture {

    background: #FFFFFF;
    border: 2px dashed #523EE8;
    border-radius: 5px;
    width: 180px;height: 180px;
    color: #C9C3C3;

}
.p-icons{
    padding: 80px 80px 80px 80px;
}
.total-price{
    width: 280px;
    height: 294px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.overflow-gallery{

    height: 600px;
    overflow: scroll;
}
.grid-gallery img{
    width: 100%;
    height: auto;
}
/* progress-search */
.multi-step-form{
    width: 100%;
    margin: 50px auto;
    position: relative;
}
.multi-step-form fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
    /* padding: 20px 30px; */
    box-sizing: border-box;
    /* width: 80%; */
    /* margin: 0 10%; */

    /*stacking fieldsets above each other*/
    position: relative;
}
/* if not first field just hidden them  */
.multi-step-form fieldset:not(:first-of-type) {
    display: none;
}
.progress-bar{
    background-color:#523EE8 !important;

}
._circle-progress{
    width: 40px;
height: 40px;
background: #523EE8;
color: #fff;
margin: auto;
border-radius: 100%;
padding: 5px;
margin-bottom: 20px;
}

