
.form-match{
background: #FFFFFF;
border: 3px solid #904AE8;
box-shadow: 0px 4px 12px rgba(83, 59, 142, 0.25);
border-radius: 20px;
}
/* Rectangle 3.4 */
.rec{
height: 200px;
left: 478px;
top: 546px;
background: #904AE8;
border-radius: 20px 20px 0px 0px;
}
/* กรอกข้อมูลให้ครบถ้วนเพื่อที่เราจะได้หานักออกแบบที่ใช่ที่สุดสำหรับคุณ */
.fill{
width:100%;
height: 114px;
margin-left: 10%;
}
/* Plaifah Pentatham */
.titlename{
color: #FFFFFF;
}
/* Entrepreneur */
.Entrepreneur{
/*   position: absolute; */
color: #CCCCCC;
}
/* สไตล์งานที่ต้องการ */
/* เลือกประเภทผลิตภัณฑ์ที่ต้องการจะออกแบบ */
.selectfillter{
/*font-style: normal;*/
font-weight: bold;
font-size: 24px;
}
/* บรรจุภัณฑ์ประเภทกล่อง */
.detaill-select{
width: 100%;
height: 31px;
left: 589.24px;
top: 950px;

font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 24px;
  outline: none;

color: #000000;
/*       border-color: #f44336!important; */
    border-bottom: 5px solid #FF3975;
}
/* Vector */
.vector-line{
/*   position: absolute; */
width: 546px;
height: 0px;
right: 783px;
top: 988px;

border: 1px solid #FF3975 !important;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
}
input:focus 		{ outline:none; }



._area {
    max-width: 640px;
  font-family: 'Prompt', sans-serif;

    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    /*padding: 20px;*/
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: .25rem!important;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
      font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
text-align: center;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid mediumpurple;
    background-color: #523EE8;
    font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
text-align: center;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
    width: 80px;
    margin: 0px auto;
    height: 60px;
    right: 10px;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #523EE8;
}

/*datepicker*/

/*profile avatar*/
.rounded-ex{
    border-radius: 2.3rem!important;
    
}
._primary-drop{
    color: #000000;
    outline : none;
}
._primary-drop:hover{
    background: #FE3A76;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff !important;
}

/*prev and next btn corosel*/
.carousel-control-next, .carousel-control-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5% !important;
    color: #fff;
    text-align: center;
    opacity: .5;
    background-color: mediumpurple;
    border-radius: 20px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 50px !important;
    margin-bottom: 0;
    padding-right: 50px !important;
    list-style: none;
}
._btn {
    transition: 0.3s;
    border: 2px solid #904AE8;
}

/* Style the active class, and buttons on mouse-over */
._active, ._btn:hover {
    border: 10px solid #904AE8;
    transform: scale(0.9);
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.carousel-indicators .active {
    background-color: #FE3A76 !important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
._area {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
._area input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 320px;
    width: 265px;
    /* border-radius: 100%; */
    background-color: rgba(255,255,255,.15);
    opacity: 0.8;
    transition: 0.4s;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
._area:hover input ~ .checkmark {
    background-color: rgba(255,255,255,.15);
}

/* When the checkbox is checked, add a blue background */
._area input:checked ~ .checkmark {
    background-color: mediumpurple;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
._area input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
._area .checkmark:after {
    left: 120px;
    top: 110px;
    width: 42px;
    height: 64px;
    border: solid white;
    border-width: 0 10px 10px 0;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.4s;

}
.input-picture {

    background: #FFFFFF;
    border: 2px dashed #523EE8;
    border-radius: 5px;
    width: 180px;height: 180px;
    color: #C9C3C3;

}
.thumb{
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10px;
}
.p-icons{
    padding: 80px 80px 80px 80px;
}
.total-price{
    width: 280px;
    height: 294px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.overflow-gallery{

    height: 600px;
    overflow: scroll;
}
.grid-gallery img{
    width: 100%;
    height: auto;
}
/* progress-search */
.multi-step-form{
    width: 100%;
    margin: 50px auto;
    position: relative;
}
.multi-step-form fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
    /* padding: 20px 30px; */
    box-sizing: border-box;
    /* width: 80%; */
    /* margin: 0 10%; */

    /*stacking fieldsets above each other*/
    position: relative;
}
/* if not first field just hidden them  */
.multi-step-form fieldset:not(:first-of-type) {
    display: none;
}
.progress-bar{
    background-color:#523EE8 !important;
}
._circle-progress{
    width: 40px;
height: 40px;
background: #523EE8;
color: #fff;
margin: auto;
border-radius: 100%;
padding: 5px;
margin-bottom: 20px;
}
 /* btn active purple */
 /* .purple-active:focus {
    background: rgba(82, 62, 232, 0.8);
    width: 180px;
    height: 180px;
    z-index: 1;
    position: relative;
    transition: 0.4s;

  } */
  ul.purple-active {
    list-style: none;
    /*padding: 20px;*/
}
ul.purple-active li{
  display: inline;
}

ul.purple-active li img{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: .25rem!important;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.purple-active li img {
    cursor: pointer;
}
ul.purple-active li img::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.purple-active li input[type="checkbox"]:checked + img::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.purple-active li input[type="checkbox"]:checked + img {
    border: 2px solid mediumpurple;
    background-color: #523EE8;
    transition: all .2s;
}

ul.purple-active li input[type="checkbox"] {
    position: absolute;
}
ul.purple-active li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
    width: 180px;
    margin: 0px auto;
    height: 180px;
    right: 10px;
}
ul.purple-active li input[type="checkbox"]:focus + img {
  border: 2px solid #523EE8;
}
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .correct::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-weight: 900;
    font-size: 37px;
    color: #fff;
    margin-top: 60px;
    /* position: absolute; */
  }
  .plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
    background-color: #C9C3C3;
  }
.overlay-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #523EE8;
  }
  
  .active-color:hover .overlay {
    opacity: 0.8;
    border-radius: 5px;
    cursor: pointer;
  }
  .fillter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-pic{
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 10;
    right: 0;
    width: 180px;
    height: 180px;
    /* opacity: 0; */
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.01);
    
  }
  
  /* On mouse-over, add a grey background color */
  .fillter:hover input ~ .checkmark-pic {
    background-color: #523EE8;
    opacity: 0.8;

  }
  
  /* When the checkbox is checked, add a blue background */
  .fillter input:checked ~ .checkmark-pic {
    background-color: rgba(0, 0, 0, 0.01);
    

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .fillter:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .fillter input:checked ~ .checkmark-pic:after {
    display: block;
  }
  .fillter .checkmark-pic:after {
      
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-weight: 900;
    font-size: 37px;
    color: #fff;
    margin-top: 60px;
  }
  
  /* hidden */
  .upload-btn-wrapper- {
    position: relative;
    overflow: hidden;
    display: inline-block;
   
}

._btn-upload-{
    border: 2px solid rgba(144, 74, 232,.15);
    color: gray;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    width: 180px;
    height: 180px;
    border: 2px dashed #523EE8;
    text-align: center;
    font-weight: bold;
}

.upload-btn-wrapper- input[type=file] {
    font-size: 100px;
    position: absolute;
    box-shadow: 5px 1px 20px 1px rgba(144, 74, 232,.15);
    left: 0;
    top: 0;
    opacity: 0;
}
/* progress */

 #wizard-progress {
	 width: 100%;
	 margin: 20px auto 0 auto;
}
 #wizard-progress .step-indicator {
	 border-collapse: separate;
	 display: table;
	 margin-left: 0px;
	 position: relative;
	 table-layout: fixed;
	 text-align: center;
	 vertical-align: middle;
	 padding-left: 0;
}
 #wizard-progress .step-indicator li {
	 display: table-cell;
	 position: relative;
	 float: none;
	 padding: 0;
	 width: 1%;
}
 #wizard-progress .step-indicator li:after {
	 background-color: #ccc;
	 content: "";
	 display: block;
	 height: 4px;
	 position: absolute;
	 width: 100%;
	 top: 32px;
}
 #wizard-progress .step-indicator li:after {
	 left: 50%;
}
 #wizard-progress .step-indicator li:last-child:after {
	 display: none;
}
 #wizard-progress .step-indicator li.active .step {
	 border-color: #C4C4C4;
	 color: #C4C4C4;
}
 #wizard-progress .step-indicator li.active .caption {
	 color: #C4C4C4;
}
 #wizard-progress .step-indicator li.complete:after {
	 background-color: #523EE8;
}
 #wizard-progress .step-indicator li.complete .step {
	 border-color: #523EE8;
     color: #fff;
     background-color: #523EE8;
}
 #wizard-progress .step-indicator li.complete .caption {
	 color: #523EE8;
}
 #wizard-progress .step-indicator .step {
	 background-color: #fff;
	 border-radius: 50%;
	 border: 4px solid #ccc;
	 color: #ccc;
	 font-size: 24px;
	 height: 64px;
	 line-height: 64px;
	 margin: 0 auto;
	 position: relative;
	 width: 64px;
	 z-index: 1;
}
 #wizard-progress .step-indicator .step:hover {
	 cursor: pointer;
}
 #wizard-progress .step-indicator .caption {
	 color: #ccc;
	 padding: 11px 16px;
}
 